TestContainer/HumbleGazebo/SimulationFiles/src/robot_desc/robot/config.json
TestContainer/HumbleGazebo/SimulationFiles/log/
TestContainer/HumbleGazebo/SimulationFiles/src/robot_desc/log/


TestContainer/HumbleGazebo/SimulationFiles/build/
TestContainer/HumbleGazebo/SimulationFiles/install/
TestContainer/HumbleGazebo/SimulationFiles/keys.sh