<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 0afb3ee3ed9d563e132452cb -->
<robot name="project_robot">
  <!-- Link part_1 -->
  <link name="part_1">
    <inertial>
      <origin xyz="0.241312 0.65195 0.0685751" rpy="0 0 0"/>
      <mass value="0.117967"/>
      <inertia ixx="0.00075606" ixy="-0.000672223" ixz="-0.00046422" iyy="0.00232655" iyz="-0.000159489" izz="0.00271358"/>
    </inertial>
    <!-- Part part_1 -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/part_1.stl"/>
      </geometry>
      <material name="part_1_material">
        <color rgba="0.960784 0.835294 0.470588 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/part_1.stl"/>
      </geometry>
    </collision>
    <!-- Part armbasemount -->
    <visual>
      <origin xyz="0.206816 0.6096 0.0727" rpy="1.5708 4.03897e-28 3.14159"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/armbasemount.stl"/>
      </geometry>
      <material name="armbasemount_material">
        <color rgba="0.615686 0.811765 0.929412 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.206816 0.6096 0.0727" rpy="1.5708 4.03897e-28 3.14159"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/armbasemount.stl"/>
      </geometry>
    </collision>
    <!-- Part 8020_1530_x_48 -->
    <visual>
      <origin xyz="0.6096 1.18015 0.0127" rpy="1.5708 2.51804e-27 1.5708"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/8020_1530_x_48.stl"/>
      </geometry>
      <material name="8020_1530_x_48_material">
        <color rgba="0.498039 0.498039 0.498039 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.6096 1.18015 0.0127" rpy="1.5708 2.51804e-27 1.5708"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/8020_1530_x_48.stl"/>
      </geometry>
    </collision>
    <!-- Part dynamixelmotor -->
    <visual>
      <origin xyz="0.194816 0.6096 0.09075" rpy="1.50988e-27 -1.59872e-14 -1.5708"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/dynamixelmotor.stl"/>
      </geometry>
      <material name="dynamixelmotor_material">
        <color rgba="0.647059 0.647059 0.647059 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.194816 0.6096 0.09075" rpy="1.50988e-27 -1.59872e-14 -1.5708"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/dynamixelmotor.stl"/>
      </geometry>
    </collision>
    <!-- Part topshoulderlink -->
    <visual>
      <origin xyz="0.318995 0.725464 0.11125" rpy="-5.45442e-16 -1.37603e-15 0.751951"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/topshoulderlink.stl"/>
      </geometry>
      <material name="topshoulderlink_material">
        <color rgba="0.615686 0.811765 0.929412 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.318995 0.725464 0.11125" rpy="-5.45442e-16 -1.37603e-15 0.751951"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/topshoulderlink.stl"/>
      </geometry>
    </collision>
    <!-- Part motorhorn -->
    <visual>
      <origin xyz="0.399873 0.729104 0.07775" rpy="-3.14159 -2.71435e-16 -2.55565"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/motorhorn.stl"/>
      </geometry>
      <material name="motorhorn_material">
        <color rgba="0.647059 0.647059 0.647059 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.399873 0.729104 0.07775" rpy="-3.14159 -2.71435e-16 -2.55565"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/motorhorn.stl"/>
      </geometry>
    </collision>
    <!-- Part hooplink -->
    <visual>
      <origin xyz="0.652242 0.79964 0.11675" rpy="7.8454e-16 -1.01634e-15 -0.841585"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/hooplink.stl"/>
      </geometry>
      <material name="hooplink_material">
        <color rgba="0.615686 0.811765 0.929412 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.652242 0.79964 0.11675" rpy="7.8454e-16 -1.01634e-15 -0.841585"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/hooplink.stl"/>
      </geometry>
    </collision>
    <!-- Part bottomshoulderlink -->
    <visual>
      <origin xyz="0.368641 0.67238 0.07025" rpy="3.14159 -1.37603e-15 0.751951"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/bottomshoulderlink.stl"/>
      </geometry>
      <material name="bottomshoulderlink_material">
        <color rgba="0.231373 0.380392 0.705882 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.368641 0.67238 0.07025" rpy="3.14159 -1.37603e-15 0.751951"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/bottomshoulderlink.stl"/>
      </geometry>
    </collision>
    <!-- Part motorhorn_2 -->
    <visual>
      <origin xyz="0.131749 0.552632 0.07025" rpy="1.15994e-16 -2.40898e-17 -1.5708"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/motorhorn.stl"/>
      </geometry>
      <material name="motorhorn_2_material">
        <color rgba="0.647059 0.647059 0.647059 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.131749 0.552632 0.07025" rpy="1.15994e-16 -2.40898e-17 -1.5708"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/motorhorn.stl"/>
      </geometry>
    </collision>
    <!-- Part dynamixelmotor_2 -->
    <visual>
      <origin xyz="0.412463 0.813153 0.09625" rpy="1.37603e-15 -4.97532e-16 -0.818845"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/dynamixelmotor.stl"/>
      </geometry>
      <material name="dynamixelmotor_2_material">
        <color rgba="0.647059 0.647059 0.647059 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.412463 0.813153 0.09625" rpy="1.37603e-15 -4.97532e-16 -0.818845"/>
      <geometry>
        <mesh filename="package://robot_desc/robot/assets/dynamixelmotor.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
